@model WebApplication2.Models.CustomerFormViewModels
@{
    ViewBag.Title = "账户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>操作</h2>
@using (Html.BeginForm("Save", "Customer"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.PhoneNumber)
        @Html.TextBoxFor(m => m.Customer.PhoneNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.PhoneNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membersip Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    //使用Session验证是否本站请求
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">保存</button>
}
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}