@model IEnumerable<WebApplication2.Models.CustomerModels>


@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>账户管理</h2>
<p>
    @Html.ActionLink("新建用户", "New", "Customer", null, new { @class = "btn btn-primary" })
</p>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>用户名</th>
            <th>手机号码</th>
            <th>用户类型</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, new { })</td>
                <td>@customer.PhoneNumber</td>
                <td>@customer.MembershipType.Name</td>
                <td>@Html.ActionLink("删除", "Delete", "Customer", new { id = customer.Id }, new { @class = "btn btn-danger delete-link" })</td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.delete-link').on('click', function (e) {
                e.preventDefault();
                var deleteLink = $(this);

                // Show confirmation dialog
                if (confirm("确认删除该账户？")) {
                    // If user clicks 'OK', proceed with the delete action
                    window.location.href = deleteLink.attr('href');
                } else {
                    // If user clicks 'Cancel', do nothing
                    return false;
                }
            });
        });
    </script>
}