@model IEnumerable<WebApplication2.Models.BookModels>


@{
    ViewBag.Title = "图书管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>图书管理</h2>
<p>
    @Html.ActionLink("新建图书", "New", "Book", null, new { @class = "btn btn-primary" })
</p>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>书名</th>
            <th>作者</th>
            <th>简介</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@Html.ActionLink(book.Title, "Edit", "Book", new { id = book.Id }, new { })</td>
                <td>@book.Author</td>
                <td>@book.Description</td>
                <td>@Html.ActionLink("删除", "Delete", "Book", new { id = book.Id }, new { @class = "btn btn-danger delete-link" })</td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('.delete-link').on('click', function (e) {
                e.preventDefault();
                var deleteLink = $(this);

                // Show confirmation dialog
                if (confirm("确定删除这本书？")) {
                    // If user clicks 'OK', proceed with the delete action
                    window.location.href = deleteLink.attr('href');
                } else {
                    // If user clicks 'Cancel', do nothing
                    return false;
                }
            });
        });
    </script>
}