@model WebApplication2.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row align-items-center">
            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 col-form-label" })
            <div class="col">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row align-items-center">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 col-form-label" })
            <div class="col">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row align-items-center">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 col-form-label" })
            <div class="col">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-3">
                <input type="submit" value="Apply" class="btn btn-outline-dark" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}